.footer {
	padding-block: 30px;
	border-top: 1px solid var(--main-color);
}

.footer__container {
	display: flex;
	justify-content: space-between;
	+justify-content: center;
	align-items: center;
}

.logo {}

.header__logo {}

.menu {}

.menu__footer {}

.menu__list {}

.menu__item {}

.menu__link {}

.footer__phone {
	font-family: var(--font-med);
	font-style: normal;
	font-weight: 500;
	line-height: 130%;
	/* 20.8px */
}