<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./css/base/normalize.css">
	<link rel="stylesheet" href="./css/index.css">
	<title>Подготовка к верстке</title>
</head>
<body class="page__body">
	<h1 class="hero-title">ПНАЙДИ ОДЕЖДУ КОТОРАЯ ВЫРАЗИТ ТВОЙ СТИЛЬ</h1>
	<span class="hero-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa sequi molestias nostrum ut exercitationem asperiores iure illum nemo consequatur suscipit!</span>
	
</body>
</html>