body {
	background: #664751;
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	text-decoration: none;
	color: #fff;
}

.active-projects {
	text-align: center;
}

.active-projects__title {
	text-transform: uppercase;
	font-family: "Abril Fatface", serif;
	font-weight: 700;
	font-style: italic;
	border-bottom: #2b036b solid 2px;
}

.container {
	width: 1200px;
	height: 600px;
	background: #9766a7;
	border-radius: 12px;
	border: 1px solid #2b036b;
}

.active-project__buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 20px;
}

.active-project__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 150px;
	border: 2px solid #5ba5b9;
	border-radius: 12px;
	box-shadow: inset 0px 0px 15px -3px #2b036b;
	transition: background-color, 0.4s;
	text-transform: uppercase;
	font-family: "Orbitron", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

/* ============================Анима-flip======================================== */

/* можно убрать ширину и  длину т.к нужно что бы размер задавался другим классом - это стили глобальные, общие */
.flip-container {
	width: 200px;
	height: 150px;
	/*border: 1px solid #000;*/

	perspective: 1000px;
	/*самое важное свойство*/
}

.flip-inner {
	/*width/height    — тоже 200х150 (как у родителя)*/
	width: 100%;
	height: 100%;
	position: relative;

	transition: transform 0.6s;
	/* ← плавность */
	transform-style: preserve-3d;
	/* ← 3D для детей */
}

/*Когда мы наводим курсор на .flip-container, находим .flip-inner внутри него и ВРАЩАЕМ его на 180 градусов вокруг оси Y.*/
.flip-container:hover .flip-inner {
	transform: rotateY(180deg);
}

/* обязательные стили для кнопок
- position: absolute — накладываем их друг на друга
   - width/height: 100% — размер как у контейнера
   - backface-visibility: hidden — СКРЫВАЕМ «спину» элемента,
                                    чтобы не было видно
                                    обратной стороны сквозь лицевую */
.flip--front,
.flip--back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

/* стилизуем отдельно отдельно карты для красоты, а для --back ставим transform: rotateY(180deg), что бы она изначально была повернута */
.flip--front {}

.flip--back {
	transform: rotateY(180deg);

}