body {
	background: #a58282;
	height: 2000px;
}


header {
	/*position: fixed;*/
	border: 1px solid #000;
}

@media (width>820px) {
	.header__burger {
		display: none;
	}
}

@media (width<=820px) {
	.header__burger {
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
	}

		.burger__menu-open {
		display: block;
		color: #000;
	}

	.burger__menu-close {
		display: none;
		color: red;
	}

		.burger--open .burger__menu-open {
		display: none;
	}

	.burger--open .burger__menu-close {
		display: block;
	}
}

@media (width<=820px) {
	.header__menu {
				position: fixed;
		right: -100vw;
		top: 0;
		bottom: 0;
		z-index: 3;

		overflow: hidden;
		opacity: 0;

		background-color: rgb(129, 19, 19);
		box-shadow: 0 0 20px 0 #000;
		padding-top: 144px;
		padding-right: 15px;
		min-width: 297px;
		transition: all 0.5s;
		
	}

	.header__menu--open {
		right: 0;
		overflow: visible;
		opacity: 1;
	}

	.header__menu .menu__list {
		flex-direction: column;
		justify-content: end;
		text-align: end;
	}
}

.menu__list {
	display: flex;
	gap: 30px;
	font-size: 13px;
	font-style: normal;
	font-weight: 300;
	line-height: 130%;
}

.page__body--no-scroll {
	/*убираем скролл если накидывается на этот класс при открытие бургера*/
	overflow-y: hidden;
}

.header--fixed {
	box-shadow: 0 0 20px 0 #fff;
}