/* ============================Анима-flip======================================== */

/* можно убрать ширину и  длину т.к нужно что бы размер задавался другим классом - это стили глобальные, общие */
.top-models__flip-container {
	/*width: 200px;
		height: 150px;
		border: 1px solid #000;*/

	perspective: 1000px;
	/*самое важное свойство*/
}

.top-models__flip-inner {
	/*width/height    — тоже 200х150 (как у родителя)*/
	width: 100%;
	height: 100%;
	position: relative;

	transition: transform 0.6s;
	/* ← плавность */
	transform-style: preserve-3d;
	/* ← 3D для детей */
}

/*Когда мы наводим курсор на .flip-container, находим .flip-inner внутри него и ВРАЩАЕМ его на 180 градусов вокруг оси Y.*/
.top-models__flip-container:hover .top-models__flip-inner {
	transform: rotateY(180deg);
}

/* обязательные стили для кнопок
- position: absolute — накладываем их друг на друга
	 - width/height: 100% — размер как у контейнера
	 - backface-visibility: hidden — СКРЫВАЕМ «спину» элемента,
																		чтобы не было видно
обратной стороны сквозь лицевую */
.top-models__flip-front,
.top-models__flip-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

/* стилизуем отдельно отдельно карты для красоты, а для --back ставим transform: rotateY(180deg), что бы она изначально была повернута */
.top-models__flip-front {
	/*background-color: yellow;*/
}

.top-models__flip-back {
	
	/*border: 2px solid var(--accent-color);
	border-radius: 12px;*/
		
	transform: rotateY(180deg);
}

.btn__flip-back {
	width: 30px;
	height: 30px;
	border-radius: 5px;
	font-size: 10px;
}

.label__flip-back{
	font-size: 15px;
}