:root {
	/* шрифты */

	--satoshi-400: 'Fixel-Regular', sans-serif; /*аналог сатоши*/
	--satoshi-500: 'Fixel-Medium', sans-serif;
	--satoshi-700: 'Fixel-Bold', sans-serif;

	--integral: 'Inter', sans-serif; /*аналог Intgral */
	

	/* color */

	--bg-color:#fff;
}